.container {
    display: flex;
    align-self: center;
    gap: 8rem;
    height: 50%;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.option {
    border-style: solid;
    border-width: 2px;
    border-color: #929292;
    border-radius: 1rem;
    padding: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
}

.generateButton {
    display: flex;
}
