.content {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1;
}

/* @media (max-width: 991px) {
    .content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }
} */

.leftColumn {
    display: flex;
    flex-direction: column;
    flex: 2;
    min-width: 240px;
}

.rightColumn {
    background-color: #d0dee5;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 300px;
}

/* @media (max-width: 991px) {
    .leftColumn {
        width: 100%;
    }
} */

.blueSection {
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: Inter, sans-serif;
    font-weight: 600;
    width: 100%;
}

/* @media (max-width: 991px) {
    .blueSection {
        max-width: 100%;
        padding-bottom: 100px;
    }
} */

.logo {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 128px;
    max-width: 100%;
}

.textContainer {
    display: flex;
    margin-top: 160px;
    flex-direction: column;
    padding: 0 68px 0 20px;
}

/* @media (max-width: 991px) {
    .textContainer {
        max-width: 100%;
        padding-right: 20px;
        margin-top: 40px;
    }
} */

.title {
    color: #b1b1b1;
    font-size: 32px;
    line-height: 42px;
}

/* @media (max-width: 991px) {
    .title {
        max-width: 100%;
    }
} */

.description {
    color: #a0bcc9;
    font-size: 15px;
    margin-top: 0;
}

/* @media (max-width: 991px) {
    .description {
        max-width: 100%;
    }
} */

.rightColumn label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin-bottom: -8px;
}
/* 
@media (max-width: 991px) {
    .rightColumn {
        background-color: #d0dee5;
        width: 100%;
    }
} */

.greySection {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: auto;
    justify-content: end;
    align-items: center;
    font:
        600 20px/1.3 Inter,
        sans-serif;
    margin-bottom: 5rem;
}

/* @media (max-width: 991px) {
    .greySection {
        max-width: 100%;
        padding: 100px 20px;
        gap: 0;
    }
} */

.greySectionTitle {
    color: #1c3d5a;
    font-size: 40px;
    margin-bottom: 0px;
}

.button {
    border-radius: 40px;
    background-color: #34495e;
    margin-top: 25px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    width: 55%;
    text-wrap: nowrap;
    align-items: center;
}

@media (max-width: 991px) {
    .button {
        text-wrap: balance;
    }
}

.actionButtonGroup {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}

.formGroup {
    width: 55%;
}
