.sidebar {
    display: flex;
    flex-direction: column;
    width: 4rem;
    background-color: var(--darkBlue-color);
    justify-content: space-between;
}

.topIconButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-top: 0.5rem;
}

.bottomIconButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}

.popup {
    position: absolute;
    width: 8rem;
    bottom: 67.5px;
    left: 5px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 500;
}

.popup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup li {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: background-color 0.3s ease;
}

.popup li:hover {
    background-color: #f0f0f0;
}
