.sidebar {
    display: flex;
    flex-direction: column;
    width: 4rem;
    background-color: #2c3e50;
    justify-content: space-between;
}

.topIconButtons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.classSyncLogo {
    width: 4rem;
}

.bottomIconButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    align-items: center;
}
