.sidebar {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: #2c3e50;
    justify-content: space-between;
}

.topIconButton {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.bottomIconButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
