.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.overlayVisible {
    opacity: 1;
}

.popupCard {
    background: var(--gray-100);
    width: 35%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 4rem;
    transform: scale(0.95);
    opacity: 0;
    transition:
        transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.popupCardVisible {
    transform: scale(1);
    opacity: 1;
}

.popupTitle {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
}

.schoolDates {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding-top: 1rem;
}

.closeIcon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: -2rem;
    padding-top: 0.25rem;
}

.closeIcon button :hover {
    scale: 1.1;
}

.schedulePopUp {
    width: 40rem;
    height: 35rem;
    color: #555;
    overflow-y: auto;
}

.schedulePopUp::-webkit-scrollbar {
    width: 7.5px;
    border-style: none;
}

.schedulePopUp::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    height: 10px;
    border-radius: 5rem;
    border-style: none;
}

.Workshop {
    background-color: #e8a9f4;
}

.Laboratory {
    background-color: #f4c7a9;
}

.Lecture {
    background-color: #bdf4a9;
}

.Meeting {
    background-color: #a9c7f4;
}

.Seminar {
    background-color: #f4e8a9;
}

.feedbackPopUp {
    width: 40rem;
    height: 35rem;
    color: #555;
    overflow-y: auto;
    background-color: white;
}

.feedbackPopUp::-webkit-scrollbar {
    width: 7.5px;
    border-style: none;
}

.feedbackPopUp::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    height: 10px;
    border-radius: 5rem;
    border-style: none;
}
