.scheduleContainer {
    width: 1204px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.filterLabel {
    font-size: 1.1rem;
    font-weight: 600;
}

.dropdown {
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 10rem;
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 80px repeat(5, 225px);
    grid-template-rows: 60px repeat(10, 100px);
    overflow-y: auto;
    height: 85%;
    overflow-x: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: white;
    transition:
        opacity 0.3s ease-in-out,
        transform 0.2s ease-out;
}

.gridCell {
    display: flex;
    background-color: white;
    position: relative;
    border-style: solid;
    border-radius: 6px;
    border-width: 1px;
}

.dayHeader {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourLabel {
    background-color: #f8f8f8;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.scheduleContainer ::-webkit-scrollbar {
    width: 7.5px;
    background-color: #f8f8f8;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-style: none;
}

.scheduleContainer ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    border-top-right-radius: 0.25rem;
    height: 10px;
    border-style: none;
}

.actionBar {
    width: 1204px;
    display: flex;
    padding: 0.25rem;
    background-color: #f8f8f8;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    position: relative;
    height: 1.5rem;
    align-items: center;
}

.actionBar button {
    background-color: var(--gray-500);
    border-radius: 0.25rem;
}

.actionBar button:hover {
    filter: brightness(85%);
    transition: filter 0.3s ease;
}

.weekControls {
    display: flex;
    margin-right: auto;
}

.editClasses {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.settings {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.settings img {
    width: 1.25rem;
    height: 1.25rem;
}

.slideLeft {
    transform: translateX(-100%);
    opacity: 0;
}

.slideRight {
    transform: translateX(100%);
    opacity: 0;
}

.fadeSmooth {
    opacity: 0;
    transform: scale(0.98);
}

.fadePop {
    animation: fadePopAnimation 1s;
}

@keyframes fadePopAnimation {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    40% {
        opacity: 0.6;
        transform: scale(1.03);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.holidayLabel {
    color: red;
    font-size: 0.9rem;
    font-weight: 600;
}
