.scheduleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 80px repeat(5, 225px);
    grid-template-rows: 60px repeat(10, 90px);
    overflow-y: auto;
    height: 85%;
    overflow-x: hidden;
    border-radius: 0.25rem;
}

.gridCell {
    background-color: white;
    position: relative;
    border-style: none solid solid none;
    border-width: 1.5px;
}

.dayHeader {
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourLabel {
    background-color: #f8f8f8;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--brightBlue-color);
    border-style: none;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    height: 10px;
    border-radius: 5rem;
    border-style: none;
}
