.scheduleContainer {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-self: center;
}

.scheduleGrid {
    display: grid;
    grid-template-columns: repeat(5, 225px);
    grid-template-rows: auto;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
    border-radius: 8px;
    position: relative;
    overflow-y: auto;
}

.scheduleDay {
    border-right: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    background-color: #f8f8f8;
    position: relative;
    height: 200%;
}

.scheduleDay:last-child {
    border-right: none;
}

.scheduleColumn {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    position: relative;
}

.scheduleEntry {
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #333;
    position: absolute;
    height: 75px;
    width: 210px;
    border-style: solid;
    border-color: #333;
    border-width: 1px;
    display: flex;
    align-self: center;
}

.entry-monday {
    background-color: #e8a9f4;
}

.entry-tuesday {
    background-color: #f4c7a9;
}

.entry-wednesday {
    background-color: #bdf4a9;
}

.entry-thursday {
    background-color: #a9c7f4;
}

.entry-friday {
    background-color: #f4e8a9;
}

.scheduleEntry div {
    margin-bottom: 2px;
    font-size: 0.8rem;
    color: #555;
}

.entryContent {
    text-align: left;
    margin: 4px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.entryTitle {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
}

.entryDetail {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
}

.dayHeader {
    border-bottom-style: solid;
    border-bottom: 1.5px solid #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 10px;
}
