.scheduleContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.filterLabel {
    font-size: 1.1rem;
    font-weight: 600;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 0.5rem;
    align-items: center;
}

.dropdown {
    border-radius: 0.25rem;
    padding: 0.5rem;
    width: 10rem;
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 80px repeat(5, 225px);
    grid-template-rows: 60px repeat(10, 100px);
    overflow-y: auto;
    height: 85%;
    overflow-x: hidden;
    border-radius: 0.25rem;
    background-color: white;
}

.gridCell {
    display: flex;
    background-color: white;
    position: relative;
    border-style: none solid solid none;
    border-width: 1.5px;
}

.dayHeader {
    background-color: #f8f8f8;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourLabel {
    background-color: #f8f8f8;
    font-weight: bold;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.scheduleContainer ::-webkit-scrollbar {
    width: 7.5px;
    background-color: var(--brightBlue-color);
    border-style: none;
}

.scheduleContainer ::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    height: 10px;
    border-radius: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-style: none;
}
