.courseContainer {
    border-top: 1px solid black; /* line above each Courses */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 1rem;
    font-size: 18px;
}

.lastCourse {
    border-bottom: 1px solid black; /* line below the last Courses */
}
