.title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
}

.feedbackContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    height: 100%;
    gap: 1rem;
    padding: 0 5rem 5rem;
}

.feedbackItem {
    border-style: solid;
    border-width: 2px;
    border-color: #929292;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
    height: fit-content;
    padding: 5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
