.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
}
