.pageContainer {
    background-color: var(--brightBlue-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.feedbackPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    width: 100%;
    height: 100%;
}
