.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 35rem;
    height: 43rem;
    background-color: #f4f4f4;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
    padding-top: 1rem;
}

.settingPanels {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
}
