.card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40rem;
    height: 43rem;
    background-color: #f4f4f4;
    border-radius: 10px;
    overflow-y: auto;
}

.title {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
    padding-top: 1rem;
}

.settingPanels {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3rem;
    padding-bottom: 2rem;
}

.card::-webkit-scrollbar {
    width: 7.5px;
    border-style: none;
}

.card::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #868686;
    height: 10px;
    border-radius: 5rem;
    border-style: none;
}
