.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.overlayVisible {
    opacity: 1;
}

.popupCard {
    display: flex;
    flex-direction: column;
    background: var(--gray-100);
    width: 35%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 4rem;
    transform: scale(0.95);
    opacity: 0;
    transition:
        transform 0.2s ease-out,
        opacity 0.2s ease-out;
}

.popupCardVisible {
    transform: scale(1);
    opacity: 1;
}

.popupTitle {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
}

.closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -2rem;
    padding-top: 0.5rem;
}

.signUpFormContainer {
    width: 80%;
    align-self: center;
}
