.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popupCard {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    width: 33rem;
    height: 35rem;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 4rem;
}

.popupTitle {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
}

.closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -2rem;
    padding-top: 0.5rem;
}

.addContentContainer {
    width: 80%;
    align-self: center;
}

.editContentContainer {
    width: 55%;
    align-self: center;
}
