.feedbackForm {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.feedbackTypeContainer {
    display: flex;
    flex-direction: row;
    border: solid 1.5px #686868;
    border-radius: 10px;
    padding: 0.4rem;
    align-items: center;
    margin-bottom: 0.75rem;
    gap: 1rem;
}

.feedbackTypeButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.feedbackTypeButtons button {
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all 0.2s ease;
    padding: 0.25rem 0.5rem;
}

.feedbackContainer {
    display: flex;
    flex-direction: column;
    border: solid 1.5px #686868;
    border-radius: 10px;
    padding: 0.4rem;
    margin-bottom: 0.75rem;
}

.feedbackEdit {
    display: flex;
    flex-direction: column;
}

.feedbackEditButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0.75rem;
    gap: 1rem;
}

.feedbackInput {
    display: flex;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    height: min-content;
    field-sizing: content;
    margin-top: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    padding: 5px 7.5px 5px 7.5px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.feedback {
    white-space: pre-wrap;
    padding: 2.5px 0;
}
