.feedbackForm {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.typeContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.typeButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.typeButtons button {
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all 0.2s ease;
    padding: 0.25rem 0.5rem;
}

.feedbackType {
    box-sizing: border-box;
    border: 3px solid transparent;
    transition: all 0.2s ease;
}

.selectedType {
    border-color: #2c3e50 !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.feedbackEdit {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -0.5rem;
}

.feedbackEditButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0.75rem;
    gap: 1rem;
}

.feedbackInput {
    display: flex;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    height: min-content;
    field-sizing: content;
    margin-top: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    padding: 5px 7.5px 5px 7.5px;
    border-width: 2px;
    border-color: #929292;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.feedback {
    white-space: pre-wrap;
    padding: 2.5px 0;
}
