@import '../../theme.css';

.btn {
    outline: none;
    color: #ffffff;
    font-size: medium;
    font-weight: 400;
    font-family: Inter, sans-serif;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.getStarted {
    border-radius: 40px;
    background-color: var(--darkBlue-color);
    margin-top: 25px;
    font-size: 20px;
    font-weight: 600;
    width: 55%;
    text-wrap: nowrap;
    align-items: center;
    padding: 0.6em 1.2em;
    min-width: 200px;
}

.sidebar {
    background-color: transparent;
    transition-duration: 0.5s;
    border-style: solid;
}

.sidebar:hover {
    border-color: #ffffff;
}

.small {
    width: 7.5rem;
    height: 2.75rem;
    font-size: medium;
    font-family: Inter, sans-serif;
}

.medium {
    font-size: 14px;
    padding: 8px 16px;
}

.large {
    font-size: 16px;
    padding: 12px 24px;
}
