.classDetails {
    font-size: 18px;
    padding-left: 1rem;
    font-weight: 500;
    padding-right: 1rem;
}

.classProperty {
    display: flex;
    flex-direction: column;
    border: solid 1.5px #686868;
    border-radius: 10px;
    padding: 0 7.5px 0 7.5px;
    margin-bottom: 0.75rem;
}

.title {
    font-weight: 700;
    margin-right: 8px;
    margin-bottom: -5px;
}
