.classDetails {
    font-size: 18px;
    padding-left: 1rem;
    font-weight: 500;
    padding-right: 1rem;
}

.classProperty {
    display: flex;
    flex-direction: column;
    border: solid 1.5px #686868;
    border-radius: 10px;
    padding: 2.5px 7.5px 0 7.5px;
    margin-bottom: 0.75rem;
}

.title {
    font-weight: 700;
    margin-right: 8px;
    margin-bottom: -5px;
}

.descriptionActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -3px;
}

.descriptionEdit {
    display: flex;
    flex-direction: column;
}

.descriptionEditButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0.75rem;
    gap: 1rem;
}

.descriptionInput {
    display: flex;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    height: min-content;
    field-sizing: content;
    margin-top: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    padding: 2.5px 7.5px 2.5px 7.5px;
}

.description {
    white-space: pre-wrap;
    padding: 2.5px 0;
}

.students {
    white-space: pre-wrap;
}
