.classDetails {
    font-size: 18px;
    padding-left: 1rem;
    font-weight: 500;
    padding-right: 1rem;
}

.actionButtons {
    display: flex;
    justify-content: end;
    margin-bottom: 0.5rem;
    margin-top: -2.5rem;
    gap: 0.5rem;
    align-items: flex-start;
}

.actionButtons button {
    display: flex;
    border: solid 1.5px var(--gray-600);
    padding: 2.5px 10px;
}

.confirmDeleteContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 18px;
    font-weight: 600;
}

.confirmDeleteButtonGroup {
    display: flex;
    gap: 0.5rem;
}

.confirmDeleteButtonGroup button {
    padding: 2.5px 10px;
    transition: background-color 0.3s ease;
}

.classProperty {
    display: flex;
    flex-direction: column;
    border: solid 1.5px var(--gray-600);
    border-radius: 10px;
    padding: 2.5px 7.5px 0 7.5px;
    margin-bottom: 0.75rem;
}

.title {
    font-weight: 700;
    margin-right: 8px;
    margin-bottom: -5px;
}

.descriptionActions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -3px;
}

.descriptionEdit {
    display: flex;
    flex-direction: column;
}

.descriptionEditButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 0.75rem;
    gap: 1rem;
}

.descriptionInput {
    display: flex;
    border-radius: 10px;
    margin-bottom: 0.75rem;
    height: min-content;
    field-sizing: content;
    margin-top: 10px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    padding: 5px 7.5px 5px 7.5px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.description {
    white-space: pre-wrap;
    padding: 2.5px 0;
}

.students {
    margin-top: 0.25rem;
    white-space: pre-wrap;
}

.editingStudents {
    margin-bottom: 15rem;
}
