.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500; /* Ensure it's above other content */
}

.popupCard {
    display: flex;
    flex-direction: column;
    background: var(--gray-100);
    width: 35%;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-left: 4rem;
}

.popupTitle {
    font-size: 25px;
    font-weight: 600;
    padding-left: 1rem;
    margin-bottom: 0.4rem;
}

.closeIcon {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: -2rem;
    padding-top: 0.5rem;
}

.contentContainer {
    width: 80%;
    align-self: center;
}
