:root {
    --darkNavy-color: #1c2a3b;
    --darkBlue-color: #34495e;
    --brightBlue-color: #bbdefb;

    /* Grays */
    --gray-100: #f4f4f4;
    --gray-200: #e0e0e0;
    --gray-300: #dbdbdb;
    --gray-400: #b8b8b8;
    --gray-500: #868686;
    --gray-600: #686868;

    /* Feedback Colors */
    --success: #2ecc71;
    --error: #e74c3c;
    --warning: #f39c12;
}
