.title {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 1rem;
    color: var(--darkBlue-color);
    text-align: center;
}

.manageFriendsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    width: 90%;
    height: 100%;
    padding: 2rem 0;
}

.friendList {
    width: 50%;
    height: 90%;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--darkBlue-color);
}

.sendFriendRequestTitle {
    font-size: 1.1rem;
    font-weight: 500;
}

.sendFriendRequestContainer {
    width: 35%;
    height: 90%;
}

.sendFriendRequestForm {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 12px;
    background-color: white;
    border: 1px solid var(--darkBlue-color);
    padding: 2rem;
}

.sendFriendRequestButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.error {
    color: red;
    font-weight: 600;
    font-size: 0.9rem;
}
