.scheduleEntry {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-600);
    border-radius: 6px;
    padding: 4px;
    font-size: 0.9rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    transition:
        transform 0.2s ease-out,
        box-shadow 0.2s ease-out,
        filter 0.15s ease;
    transform-origin: center;
    z-index: 0;
    width: calc(100% - 2px);
    margin: 1px;
}

.scheduleEntry:hover {
    filter: brightness(90%);
    transition: filter 0.2s ease;
}

.scheduleEntry.clickable:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    filter: brightness(97%);
    z-index: 2;
    cursor: pointer;
}

.scheduleEntry.clickable {
    transition:
        transform 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28),
        box-shadow 0.2s ease-out;
}

.Workshop {
    background-color: #e8a9f4;
}

.Laboratory {
    background-color: #f4c7a9;
}

.Lecture {
    background-color: #bdf4a9;
}

.Meeting {
    background-color: #a9c7f4;
}

.Seminar {
    background-color: #f4e8a9;
}

.entryContent {
    text-align: left;
    margin: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    color: var(--gray-600);
    font-size: 0.8rem;
    line-height: 1;
    align-items: baseline;
}

.entryTitle {
    font-weight: bold;
}

.entryDetail {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 0.2rem;
}

.entryDetail img {
    display: flex;
    width: 15px;
    max-height: 15px;
}

.classProperty {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.scheduleEntry:hover {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition: all 0.2s ease;
}
