.schoolDates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.addHolidayButton {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.addHolidayButton button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    gap: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.holidayContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid black;
    padding: 1rem;
    font-weight: 600;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.rangeDatePicker {
    width: 15rem;
}
