.addHolidayButton {
    display: flex;
    justify-content: flex-end;
    padding: 0 0.5rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

.addHolidayButton button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    gap: 0.3rem;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.holidayContainer {
    border-top: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 1rem;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.holidayContainer:hover {
    background-color: #e0e0e0;
}

.noResults {
    text-align: center;
    font-size: 16px;
    color: #666;
    margin-top: 20px;
}

.rightSideControl {
    display: flex;
}

.confirmDeleteContainer {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    font-size: 1rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    align-self: center;
}

.confirmDeleteButtonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.confirmDeleteButtonGroup button {
    padding: 4px 8px;
    border: none;
    background-color: #b8b8b8;
    color: black;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmDeleteButtonGroup button:hover {
    background-color: rgb(122, 122, 122);
}

.holidayList {
    max-height: 22rem;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
